@charset "utf-8";
/*reset*/
* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}


body {
    font-family: sans-serif, "맑은 고딕";
    
}

/*header*/
#header {
    height: 150px;
    width:960px;
    margin:0 auto;

}
.logo {
    float: left;
    height: 100px; 
    padding-top: 30px;
}
.logo img {
    width:250px;
}
nav {
    float: right;
}
nav > ul {
    width: 600px;
    padding-top: 80px;
}
.dropdown {
    float: left;
    width:200px;
    text-align: center;
}
.dropdown > a{
    display:block;
    text-align: center;
    padding:14px 16px;
}
.dropdown > a:hover,
.dropdown:hover .dropbtn {
    background-color: #7b422e;
    color:#fff;
}
.dropdown:hover .dropdown-content{
    display:block;
}
.dropdown-content{
    display: none;
    width:200px;
    position: absolute;
    background-color: rgba(255, 255, 255,0.8);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 10;
}
.dropdown-content a {
    display:block;
    text-align: center;
    padding: 12px 16px;
}
.dropdown-content a:hover{
    background-color: #bb692d;
    color: #fff;
}
/*main image*/
#mainImage {
    height: 400px;
    position: relative;
    width:960px;
    margin:0 auto;

}
.imgs {
    height:400px;
    position: absolute;

}
.imgs > img {
    width:100%;

}
.welcome{
    position: absolute;
    left:50%;
    top:50%;
    width:300px;
    height:100px;
    text-align: center;
    background-color: rgba(255, 255, 255,0.8);
    border-radius: 10px;
    margin: -50px 0 0 -150px;
    line-height: 50px;
}

.welcome h2{
    color:#bb692d;
    font-size: 2em;
}
.welcome h3{
    color: #6a6a6a;
}
#contents {
    width:960px;
    margin:0 auto;
}
/*main contents*/
.notice {
    width:480px;
    float:left;
    margin-top:20px;
}
.notice > h2 {
    text-align: center;
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
}
.notice > table {
    font-size:0.9em;
    color:  #666;
    width:430px;
    border-collapse: collapse;
    margin-left: 20px;
}
.notice th {
    padding: 5px 0;
}
.notice td {
    padding: 5px;
    
}

.notice tr:nth-child(2n){
    background-color:rgba(153,153,102,0.5);
}
.partner {
    width:480px;
    float:right;
    margin-top:20px;

}
.partner h2 {
    text-align:center;
}
.partner_info{
    margin-top: 10px;
    padding-left:20%;
}
.icons {
    padding-top: 20px;
    clear:both;
    text-align:center;
}
.btn {
    display: inline-block;
    width:160px;
    margin: 0 20px;
}
.btn img {
    width:150px;
}
.btn > button {
    background-color: #bb692d;
    color:#fff;
    padding:10px;
    border:none;
    font-size: 1.2em;
    border-radius: 10px;
}
.btn > button:hover {
    background-color: #99cc99;
    cursor: pointer;
}

#footer{
    height: 150px;
    margin-top:30px;
    background-color: #bb692d;
    color:#fff;
    padding: 10px 20px;

}
.footerContent {
    width:960px;
    margin:0 auto;
}
#footer  ul {
    float:left;
}
#footer li {
   float:left;
   padding: 30px 20px 0 0;
   
}
#footer a {
    color:#fff;
}
#footer address {
    float:right;
    font-style:normal;
    font-size:0.8em;
    padding-right:120px;
}

